---
import '../styles/global.css'
import '../styles/blog.css'
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, author, publishDate} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16">
		<link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32">

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<title>WebVV</title>
	</head>
	<body>
		<main>
			<h1 id="blog-title">{title}</h1>
			<span id="blog-author">{author}</span>
			<span id="blog-date">{publishDate}</span>
			<slot />
		</main>
	</body>
</html>